<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap"
      rel="stylesheet"
    />

    <title>MY AUDIO</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div class="left-side">
          <a href="">
            <img src="./images/Logo-MyAudio.png" alt="logo" class="logo" />
          </a>

          <ul>
            <li>SHOP</li>
            <li>NEW RELEASE</li>
          </ul>
        </div>

        <div class="center-side">
          <input type="text" placeholder="Search" />
          <a href="">
            <i class="fas fa-search"></i>
          </a>
        </div>

        <div class="right-side">
          <ul>
            <li>
              <a href="">
                <i class="fas fa-cart-plus"></i>
              </a>
            </li>
            <li>
              <div class="my-account">
                <a href=""> MY ACCOUNT <i class="fas fa-user-circle"></i> </a>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <main>
        <div class="cart-screen-container">
          <div class="row row-cart-screen-container">
            
            <div class="cart-screen-title">
              <h2>SHOP SCREEN</h2>
            </div>
            
            <div class="cart-vendor">
              <ul>
                <li>
                  <div class="cart-vendor-details">
                    <div class="row row-cart-vendor-details">
                      <div class="cart-vendor-details-product-image">
                        <img
                          src="./images/product-4-Sony-Headphone-Amplifier-Loudspeaker.jpg"
                          alt=""
                          class="small"
                        />
                      </div>
                      <div class="cart-vendor-details-product-details">
                        <div class="product-name">
                          <span>Product Name</span>
                        </div>
                        <div class="product-status">
                          <span>Status: In Stock</span>
                          <br />
                          <span>Warranty: 24 months</span>
                        </div>
                      </div>
                      <div class="cart-vendor-details-product-stock">
                        <select name="" id="">
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                        </select>
                      </div>
                      <div class="cart-vendor-details-product-price">
                        <span>$299.99</span>
                        <div class="remove">
                          <a href="">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="cart-vendor-total">
                <div class="total-left-side">
                  <span>Total: </span>
                </div>
                <div class="total-right-side">
                  <span>$299.99</span>
                </div>
              </div>
            </div>

            <div class="cart-vendor-summary">
              <div class="cart-vendor-summary-info">
                <div class="cart-vendor-summary-info-title">
                  Order
                  <br />
                  Information
                </div>
                <div class="cart-vendor-summary-info-details">
                  <div class="total-price">
                    <div class="left-side">All Products:</div>
                    <div class="right-side summary-info">$2999.99</div>
                  </div>
                  <div class="delivery">
                    <div class="left-side">Delivery fee:</div>
                    <div class="right-side delivery-info">FREE</div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="cart-vendor-summary-price">
                <div class="cart-vendor-summary-price-title">
                  <div><span>ALL:</span></div>
                  <div><span>$2999.99</span></div>
                </div>
                <div class="cart-vendor-summary-price-button">
                  <button>CONTINUE</button>
                </div>
              </div>
            </div>

          </div>
        </div>
        
      </main>

      <footer>
        <div class="footer-info">
          <div class="row row-footer">
            <div class="footer-col">
              <div class="footer-col-title">
                <span>EXTRAS</span>
              </div>
              <ul>
                <li>Brands</li>
                <li>Gift Certificates</li>
                <li>Affiliate</li>
                <li>Specials</li>
                <li>Site Map</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>INFORMATION</span>
              </div>
              <ul>
                <li>About Us</li>
                <li>Private Policy</li>
                <li>Terms & Conditions</li>
                <li>Contact Us</li>
                <li>Site Map</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>MY ACCOUNT</span>
              </div>
              <ul>
                <li>My Account</li>
                <li>Order History</li>
                <li>Wish List</li>
                <li>Newsletter</li>
                <li>Returns</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>CONTACT US</span>
              </div>
              <ul>
                <li>Street: Studentska 1</li>
                <li>Varna, Bulgaria</li>
                <li>student@gmail.com</li>
                <li>456-456-4512</li>
                <li>789-789-4562</li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer-copyright">
          <span>© MESUT NEDZHIB</span>
        </div>
      </footer>
    </div>
  </body>
</html>
