<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap"
      rel="stylesheet"
    />

    <title>MY AUDIO</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div class="left-side">
          <a href="">
            <img src="./images/Logo-MyAudio.png" alt="logo" class="logo" />
          </a>

          <ul>
            <li>SHOP</li>
            <li>NEW RELEASE</li>
          </ul>
        </div>

        <div class="center-side">
          <input type="text" placeholder="Search" />
          <a href="">
            <i class="fas fa-search"></i>
          </a>
        </div>

        <div class="right-side">
          <ul>
            <li>
              <a href="">
                <i class="fas fa-cart-plus"></i>
              </a>
            </li>
            <li>
              <div class="my-account">
                <a href=""> MY ACCOUNT <i class="fas fa-user-circle"></i> </a>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <main class="main-home">
        <div class="home-section">
          <div class="row home-section-row">
            <div class="home-section-text">
              <p>
                GET <span>%50</span> off your first shopping with
                <br />
                <span>MY AUDIO</span> online shop
              </p>
            </div>

            <div class="home-section-button">
              <button>SHOP NOW</button>
            </div>
          </div>
        </div>

        <div class="latest-products-section">
          <div class="row">
            <div class="latest-products-section-title">
              <h2>LATEST PRODUCTS</h2>
            </div>
            <div class="latest-products-section-body">
              <div class="row row-latest-products-section-body">
                <div class="latest-products-section-body-col">
                  <div class="latest-products-section-body-col-img">
                    <img
                      src="./images/product-1-CD-Player.jpg"
                      alt=""
                      class="small"
                    />
                  </div>
                  <div class="latest-products-section-body-col-title">
                    <span>PRODUCT NAME</span>
                  </div>
                  <div class="latest-products-section-body-col-button">
                    <button>View</button>
                  </div>
                </div>

                <div class="latest-products-section-body-col">
                  <div class="latest-products-section-body-col-img">
                    <img
                      src="./images/product-1-CD-Player.jpg"
                      alt=""
                      class="small"
                    />
                  </div>
                  <div class="latest-products-section-body-col-title">
                    <span>PRODUCT NAME</span>
                  </div>
                  <div class="latest-products-section-body-col-button">
                    <button>View</button>
                  </div>
                </div>

                <div class="latest-products-section-body-col">
                  <div class="latest-products-section-body-col-img">
                    <img
                      src="./images/product-1-CD-Player.jpg"
                      alt=""
                      class="small"
                    />
                  </div>
                  <div class="latest-products-section-body-col-title">
                    <span>PRODUCT NAME</span>
                  </div>
                  <div class="latest-products-section-body-col-button">
                    <button>View</button>
                  </div>
                </div>

                <div class="latest-products-section-body-col">
                  <div class="latest-products-section-body-col-img">
                    <img
                      src="./images/product-1-CD-Player.jpg"
                      alt=""
                      class="small"
                    />
                  </div>
                  <div class="latest-products-section-body-col-title">
                    <span>PRODUCT NAME</span>
                  </div>
                  <div class="latest-products-section-body-col-button">
                    <button>View</button>
                  </div>
                </div>

                <div class="latest-products-section-body-col">
                  <div class="latest-products-section-body-col-img">
                    <img
                      src="./images/product-1-CD-Player.jpg"
                      alt=""
                      class="small"
                    />
                  </div>
                  <div class="latest-products-section-body-col-title">
                    <span>PRODUCT NAME</span>
                  </div>
                  <div class="latest-products-section-body-col-button">
                    <button>View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer>
        <div class="footer-info">
          <div class="row row-footer">
            <div class="footer-col">
              <div class="footer-col-title">
                <span>EXTRAS</span>
              </div>
              <ul>
                <li>Brands</li>
                <li>Gift Certificates</li>
                <li>Affiliate</li>
                <li>Specials</li>
                <li>Site Map</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>INFORMATION</span>
              </div>
              <ul>
                <li>About Us</li>
                <li>Private Policy</li>
                <li>Terms & Conditions</li>
                <li>Contact Us</li>
                <li>Site Map</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>MY ACCOUNT</span>
              </div>
              <ul>
                <li>My Account</li>
                <li>Order History</li>
                <li>Wish List</li>
                <li>Newsletter</li>
                <li>Returns</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>CONTACT US</span>
              </div>
              <ul>
                <li>Street: Studentska 1</li>
                <li>Varna, Bulgaria</li>
                <li>student@gmail.com</li>
                <li>456-456-4512</li>
                <li>789-789-4562</li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="footer-copyright">
            <span>© MESUT NEDZHIB</span>
        </div>
      </footer>
    </div>
  </body>
</html>
