<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"
      rel="stylesheet"
    />

    <title>MY AUDIO</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="my-row">
        <div class="left-side">
          <a href="">
            <img src="./images/Logo-MyAudio.png" alt="logo" class="logo" />
          </a>

          <ul>
            <li>SHOP</li>
            <li>NEW RELEASE</li>
          </ul>
        </div>

        <div class="center-side">
          <input type="text" placeholder="Search" />
          <a href="">
            <i class="fas fa-search"></i>
          </a>
        </div>

        <div class="right-side">
          <ul>
            <li>
              <a href="">
                <i class="fas fa-cart-plus"></i>
              </a>
            </li>
            <li>
              <div class="my-account">
                <a href=""> MY ACCOUNT <i class="fas fa-user-circle"></i> </a>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <main>
        <div class="dashboard">
          <div class="location-bar">
            <ul>
              <li>
                <a href="">
                  <i class="fas fa-home"></i>
                </a>
                <span>/</span>
              </li>
              <li>
                <a href="">
                  <i class="fas fa-home"></i>
                </a>
                <span>/</span>
              </li>
            </ul>
          </div>

          <div class="sections">
            <div class="my-row without-space">
              <div class="col-3">
                <div class="category-title">
                  <i class="far fa-list-alt"></i>
                  <h3>CATEGORIES</h3>
                </div>
                <hr />
                <ul>
                  <li>Lorem ipsum dolor sit amet..</li>
                  <li>Lorem ipsum dolor sit amet..</li>
                  <li>Lorem ipsum dolor sit amet..</li>
                  <li>Lorem ipsum dolor sit amet..</li>
                </ul>
              </div>

              <div class="col-9">
                <div class="porudct-options">
                  <div class="search">
                    <input type="text" placeholder="Search" />
                  </div>

                  <div class="sort-by">
                    <h4>Sort</h4>
                    <select name="" id="">
                      <option value="">A-Z</option>
                      <option value="">Z-A</option>
                      <option value="">Price +</option>
                      <option value="">Price -</option>
                    </select>
                  </div>
                </div>

                <div class="products">
                  <div class="row products">
                    <div class="card">
                      <a href="">
                        <img
                          src="./images/product-1-CD-Player.png"
                          alt=""
                          class="medium"
                        />
                      </a>
                      <div class="card-body">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>

                        <div class="title">
                          <a href="">
                            <span>PIOONER CD PLAYER</span>
                            <!-- <span>PIOONER CD PLAYER</span> -->
                          </a>
                        </div>

                        <div class="price">
                          <span>$99.99</span>
                        </div>

                        <div class="buy">
                          <button type="button">
                            <i class="fas fa-shopping-basket"></i>
                            <span>Buy</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <a href="">
                        <img
                          src="./images/product-1-CD-Player.png"
                          alt=""
                          class="medium"
                        />
                      </a>
                      <div class="card-body">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>

                        <div class="title">
                          <a href="">
                            <span>PIOONER CD PLAYER</span>
                            <!-- <span>PIOONER CD PLAYER</span> -->
                          </a>
                        </div>

                        <div class="price">
                          <span>$99.99</span>
                        </div>

                        <div class="buy">
                          <button type="button">
                            <i class="fas fa-shopping-basket"></i>
                            <span>Buy</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <a href="">
                        <img
                          src="./images/product-1-CD-Player.png"
                          alt=""
                          class="medium"
                        />
                      </a>
                      <div class="card-body">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>

                        <div class="title">
                          <a href="">
                            <span>PIOONER CD PLAYER</span>
                            <!-- <span>PIOONER CD PLAYER</span> -->
                          </a>
                        </div>

                        <div class="price">
                          <span>$99.99</span>
                        </div>

                        <div class="buy">
                          <button type="button">
                            <i class="fas fa-shopping-basket"></i>
                            <span>Buy</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <a href="">
                        <img
                          src="./images/product-1-CD-Player.png"
                          alt=""
                          class="medium"
                        />
                      </a>
                      <div class="card-body">
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>

                        <div class="title">
                          <a href="">
                            <span>PIOONER CD PLAYER</span>
                            <!-- <span>PIOONER CD PLAYER</span> -->
                          </a>
                        </div>

                        <div class="price">
                          <span>$99.99</span>
                        </div>

                        <div class="buy">
                          <button type="button">
                            <i class="fas fa-shopping-basket"></i>
                            <span>Buy</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer>Footer</footer>
    </div>
  </body>
</html>
