<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap"
      rel="stylesheet"
    />

    <title>MY AUDIO</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div class="left-side">
          <a href="">
            <img src="./images/Logo-MyAudio.png" alt="logo" class="logo" />
          </a>

          <ul>
            <li>SHOP</li>
            <li>NEW RELEASE</li>
          </ul>
        </div>

        <div class="center-side">
          <input type="text" placeholder="Search" />
          <a href="">
            <i class="fas fa-search"></i>
          </a>
        </div>

        <div class="right-side">
          <ul>
            <li>
              <a href="">
                <i class="fas fa-cart-plus"></i>
              </a>
            </li>
            <li>
              <div class="my-account">
                <a href=""> MY ACCOUNT <i class="fas fa-user-circle"></i> </a>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <main>
        <div class="shop-screen">
          <div class="row row-shop-screen">
            <div class="location-section">
              <ul>
                <li>
                  <i class="fas fa-home"></i>
                  <span>/</span>
                </li>
                <li>SHOP<span>/</span></li>
              </ul>
            </div>

            <div class="categories-section">
              <div class="categories-section-title">
                <h3>CATEGORIES</h3>
              </div>
              <div class="categories-section-list">
                <ul>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                </ul>
              </div>
            </div>

            <!-- PRODUCT DETAILS -->
            <div class="product-details-section">
              <div class="row row-l-s">
                <div class="col-l">
                  <div class="row row-col-m-xs">
                    <div class="col-m">
                      <img
                        src="./images/product-3-Dr.Dre-Wireless-Headphones.jpg"
                        alt=""
                        class="small"
                      />
                    </div>
                    <div class="col-xs">
                      <ul>
                        <li>
                          <div class="small-image-col">
                            <img
                              src="./images/product-3-Dr.Dre-Wireless-Headphones.jpg"
                              alt=""
                              class="small"
                            />
                          </div>
                        </li>
                        <li>
                          <div class="small-image-col">
                            <img
                              src="./images/Gallery/Gallery-2.jpg"
                              alt=""
                              class="small"
                            />
                          </div>
                        </li>
                        <li>
                          <div class="small-image-col">
                            <img
                              src="./images/Gallery/Gallery-3.jpg"
                              alt=""
                              class="small"
                            />
                          </div>
                        </li>
                        <li>
                          <div class="small-image-col">
                            <img
                              src="./images/Gallery/Gallery-4.jpg"
                              alt=""
                              class="small"
                            />
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-s">
                  <div class="product-name">
                    <span>Product: ProductName</span>
                  </div>
                  <div class="product-brand">
                    <span>Brand: BrandName</span>
                  </div>
                  <div class="product-status">
                    <span>Status: InStock</span>
                  </div>
                  <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="product-price">
                    <span>$29.99</span>
                  </div>
                  <div class="product-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Amet architecto eveniet nulla ullam qui at facilis sit modi
                    animi reprehenderit.
                  </div>

                  <div class="product-qty">
                    <span>QTY: </span>  <input type="number" name="" id="" value="1" />
                  </div>
                  <div class="product-button">
                    <button>ADD TO CART</button>
                  </div>
                </div>

                <!-- <div class="second-products">
                  s
                </div> -->

              </div>
              <!-- End of L-S -->
              

              
            </div>
          </div>
        </div>
      </main>

      <footer>
        <div class="footer-info">
          <div class="row row-footer">
            <div class="footer-col">
              <div class="footer-col-title">
                <span>EXTRAS</span>
              </div>
              <ul>
                <li>Brands</li>
                <li>Gift Certificates</li>
                <li>Affiliate</li>
                <li>Specials</li>
                <li>Site Map</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>INFORMATION</span>
              </div>
              <ul>
                <li>About Us</li>
                <li>Private Policy</li>
                <li>Terms & Conditions</li>
                <li>Contact Us</li>
                <li>Site Map</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>MY ACCOUNT</span>
              </div>
              <ul>
                <li>My Account</li>
                <li>Order History</li>
                <li>Wish List</li>
                <li>Newsletter</li>
                <li>Returns</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>CONTACT US</span>
              </div>
              <ul>
                <li>Street: Studentska 1</li>
                <li>Varna, Bulgaria</li>
                <li>student@gmail.com</li>
                <li>456-456-4512</li>
                <li>789-789-4562</li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer-copyright">
          <span>© MESUT NEDZHIB</span>
        </div>
      </footer>
    </div>
  </body>
</html>
