<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap"
      rel="stylesheet"
    />

    <title>MY AUDIO</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div class="left-side">
          <a href="">
            <img src="./images/Logo-MyAudio.png" alt="logo" class="logo" />
          </a>

          <ul>
            <li>SHOP</li>
            <li>NEW RELEASE</li>
          </ul>
        </div>

        <div class="center-side">
          <input type="text" placeholder="Search" />
          <a href="">
            <i class="fas fa-search"></i>
          </a>
        </div>

        <div class="right-side">
          <ul>
            <li>
              <a href="">
                <i class="fas fa-cart-plus"></i>
              </a>
            </li>
            <li>
              <div class="my-account">
                <a href=""> MY ACCOUNT <i class="fas fa-user-circle"></i> </a>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <main>
        <div class="shop-screen">
          <div class="row row-shop-screen">
            <div class="location-section">
              <ul>
                <li>
                  <i class="fas fa-home"></i>
                  <span>/</span>
                </li>
                <li>SHOP<span>/</span></li>
              </ul>
            </div>

            <div class="categories-section">
              <div class="categories-section-title">
                <h3>CATEGORIES</h3>
              </div>
              <div class="categories-section-list">
                <ul>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                </ul>
              </div>
            </div>

            <div class="product-section">
              <div class="row">
                <div class="product-options-section">
                  <div class="product-options-section-search">
                    <input type="text" name="" id="" placeholder="Search..." />
                  </div>

                  <div class="product-options-section-sort">
                    <span>SORT</span>
                    <select name="" id="">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                    </select>
                  </div>
                </div>
                <!-- First Card -->
                <div class="card">
                  <a href="">
                    <img
                      src="./images/product-1-CD-Player.png"
                      alt=""
                      class="medium"
                    />
                  </a>
                  <div class="card-body">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>

                    <div class="title">
                      <a href="">
                        <span>PIOONER CD PLAYER</span>
                      </a>
                    </div>

                    <div class="price">
                      <span>$99.99</span>
                    </div>

                    <div class="buy">
                      <button type="button">
                        <i class="fas fa-shopping-basket"></i>
                        <span>Buy</span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End of first card -->

                <div class="card">
                  <a href="">
                    <img
                      src="./images/product-1-CD-Player.png"
                      alt=""
                      class="medium"
                    />
                  </a>
                  <div class="card-body">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>

                    <div class="title">
                      <a href="">
                        <span>PIOONER CD PLAYER</span>
                      </a>
                    </div>

                    <div class="price">
                      <span>$99.99</span>
                    </div>

                    <div class="buy">
                      <button type="button">
                        <i class="fas fa-shopping-basket"></i>
                        <span>Buy</span>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <a href="">
                    <img
                      src="./images/product-1-CD-Player.png"
                      alt=""
                      class="medium"
                    />
                  </a>
                  <div class="card-body">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>

                    <div class="title">
                      <a href="">
                        <span>PIOONER CD PLAYER</span>
                      </a>
                    </div>

                    <div class="price">
                      <span>$99.99</span>
                    </div>

                    <div class="buy">
                      <button type="button">
                        <i class="fas fa-shopping-basket"></i>
                        <span>Buy</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer>
        <div class="footer-info">
          <div class="row row-footer">
            <div class="footer-col">
              <div class="footer-col-title">
                <span>EXTRAS</span>
              </div>
              <ul>
                <li>Brands</li>
                <li>Gift Certificates</li>
                <li>Affiliate</li>
                <li>Specials</li>
                <li>Site Map</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>INFORMATION</span>
              </div>
              <ul>
                <li>About Us</li>
                <li>Private Policy</li>
                <li>Terms & Conditions</li>
                <li>Contact Us</li>
                <li>Site Map</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>MY ACCOUNT</span>
              </div>
              <ul>
                <li>My Account</li>
                <li>Order History</li>
                <li>Wish List</li>
                <li>Newsletter</li>
                <li>Returns</li>
              </ul>
            </div>

            <div class="footer-col">
              <div class="footer-col-title">
                <span>CONTACT US</span>
              </div>
              <ul>
                <li>Street: Studentska 1</li>
                <li>Varna, Bulgaria</li>
                <li>student@gmail.com</li>
                <li>456-456-4512</li>
                <li>789-789-4562</li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer-copyright">
          <span>© MESUT NEDZHIB</span>
        </div>
      </footer>
    </div>
  </body>
</html>
